Source: mesa
Version: 18.2.3
Description: The Mesa 3D Graphics Library.
Build-Depends: glproto, zlib, libelf, llvm

Feature: drm
Description: Build the drm platform driver
Build-Depends: libdrm, expat

Feature: x11
Description: Build the X11 platform driver
Build-Depends: libxcb
