<?xml version="1.0" encoding="UTF-8" ?>
<opaq>	
	<network file="etc/network.xml" />

	<!-- this section contains the setup configuration for training OPAQ -->
	<setup>
		<!-- 
			Possible wildcards in the path specifications are :  
			@station@ : will be replaced by the station name
			@pol@     : will be replaced by the pollutant name
			@agg_str@ : will be replaced by the aggregation string
			@model@   : will be replaced by the model name
			@mor_agg@ : will be replaces by a string having the current mor_agg
			@fc_hor@  : will be replaced by day0, day1, day2 etc...						
		-->		
		
		<!-- some general configuration parameters -->
		<param name="fc_hor_max" type="double">4</param>   <!-- the maximum forecast horizon -->			
				
		
		<!--                   -->
		<!-- I/O configuration -->
		<!--                   -->
		<io>		
			<!-- input paths -->
			<param name="meteo_path" type="char">data/meteo</param>			
			<param name="meteo_npars" type="double">32</param>
			<param name="meteo_model">ECMWF</param>			
			<param name="data_path">data/obs</param>
						
			<!-- model architectures -->
			<param name="archdir_pattern">arch/@pol@/@mor_agg@/@fc_hor@</param>
			<param name="netfile_pattern">ffnet_@station@_@pol@_@agg_str@_@model@_@mor_agg@-@fc_hor@.xml</param>
			
			<!-- output files -->
			<param name="outdir_pattern">output/@mor_agg@/@pol@/@agg_str@/@fc_hor@</param>
			<param name="outfile_pattern">fc_@pol@_@agg_str@_@fc_hor@-@station@</param>
		</io>
		
		<!--                                    -->
		<!-- configuration for the ANN training -->
		<!--                                    -->
		<ann>			
			<param name="regularization" type="double">0.75</param>  <!-- regularization parameter -->
			<param name="hnodes" type="double">4</param>             <!-- number of hidden nodes in hidden layer -->
			<param name="resample_uniform" type="logical">1</param>
			
			<!-- display the training window or the regression parameters ?? -->			
			<param name="show_training" type="logical">0</param>
			<param name="show_regression" type="logical">0</param>
			
			<!-- specify pattern for training log file -->
			<param name="logfile_pattern">opaq_trainnn_@pol@_@agg_str@_@model@_@mor_agg@-@fc_hor@.log</param>
		</ann>
		
		<!--                                    -->
		<!-- real time correction configuration -->
		<!--                                    -->
		<rtc>
			<param name="enable" type="logical">1</param>			
		</rtc>
		
		
		<!--               -->
		<!-- optimization  -->
		<!--               -->
		<optim>
			<!-- search for model with best : -->
			<mode>rmse</mode>			

			<exceedance_thresholds> <!-- enter -1 if not used -->
				<value pol="pm10" aggr="dayavg">50.</value>
				<value pol="pm25" aggr="dayavg">-1</value>
				<value pol="no2" aggr="max1h">-1</value>
				<value pol="o3" aggr="max1h">-1</value>
				<value pol="o3" aggr="max8h">-1</value>
			</exceedance_thresholds>

			<!-- These are the values used in China
			<exceedance_thresholds> 
				<value pol="pm10" aggr="dayavg">150.</value>
				<value pol="pm25" aggr="dayavg">75.</value>
				<value pol="no2" aggr="max1h">100</value>
				<value pol="o3" aggr="max1h">200</value>
				<value pol="o3" aggr="max8h">200</value>
				<value pol="so2" aggr="dayavg">150.</value>
				<value pol="co" aggr="dayavg">4000.</value>
			</exceedance_thresholds>
			-->
		</optim>
						
	</setup>
</opaq>
