Source: rma-infra
Version: 0.9.2
Description: c++ infrastructure classes (logging, string operations, ...)
Build-Depends: fmt

Feature: gdal
Description: Gdal c++ wrapper
Build-Depends: gdal, gsl, date

Feature: log
Description: Support logging functionality
Build-Depends: spdlog

Feature: xml
Description: Support xml parser interface
Build-Depends: pugixml

Feature: numeric
Description: Support numeric utilities
Build-Depends: eigen3
