Source: mapboxgl-qt
Version: 1.3.0
Description: Interactive, thoroughly customizable maps in Qt applications, powered by vector tiles and OpenGL
Build-Depends: zlib, icu, qt5[ssl], libjpeg-turbo, libpng, sqlite3, boost

Feature: qtplugin
Description: build the qt geolocation plugin
Build-Depends: qt5[qml], qt5[location]