Source: gdal
Version: 2.4.0-3
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj4, tiff[lzw], liblzma, libpng (windows), libiconv

Feature: png
Description: Png support
Build-Depends: libpng (!windows)

Feature: geos
Description: Geometry Engine support
Build-Depends: geos

Feature: jpeg
Description: Jpeg support
Build-Depends: libjpeg-turbo

Feature: gif
Description: Gif support
Build-Depends: giflib (!windows)

Feature: sqlite
Description: Sqlite support
Build-Depends: sqlite3

Feature: expat
Description: Expat support needed for excel driver
Build-Depends: expat

Feature: pcraster
Description: Support reading and writing pcraster map files

Feature: netcdf
Description: Support reading netcdf files
Build-Depends: netcdf-c[hdf5]

Feature: tools
Description: Build the gdal tools
