Source: eccodes
Version: 2.9.2
Description: API and a set of tools for decoding and encoding messages in the following formats (WMO FM-92 GRIB, WMO FM-94 BUFR, WMO GTS)

Feature: tool
Description: Also include the eccodes tools

Feature: png
Build-Depends: libpng
Description: Support for PNG decoding/encoding

Feature: jpeg
Description: Support for JPG decoding/encoding
Build-Depends: libjpeg-turbo

Feature: netcdf
Description: Support for GRIB to NetCDF conversion
Build-Depends: netcdf-c[hdf5]