Source: netcdf-c
Version: 4.6.2-1
Description: a set of self-describing, machine-independent data formats that support the creation, access, and sharing of array-oriented scientific data.

Feature: hdf5
Description: Hdf5 support
Build-Depends: hdf5