Source: restinio
Version: 0.4.8
Description: A header-only C++14 library that gives you an embedded HTTP/Websocket server targeted primarily for asynchronous processing of HTTP-requests.
Build-Depends: fmt, http-parser

Feature: boost
Description: Use boost for the asio implementation
Build-Depends: boost[system], boost[regex]

Feature: asio
Description: Use the standalone asio implementation
Build-Depends: asio
